# .gitignore
## folders
target
.settings
bin
CVS


## files
.classpath
.project
cvslog.*
*~
*.old
*.exe
*.bak
*.BAK
*.prefs
.cvsignore
*.xml.versionsBackup
.idea
*.iml
impl/out.zip
ch.abertschi.sct.arquillian.CallAnnotationClassTest.xml
